.sidebar-container {
  float: left;
  width: 220px;
  margin-right: 30px;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav a {
  display: block;
  padding: 6px 0;
  font-weight: bold;
  color: #569cd6; /* Slate blue */
  text-decoration: none;
}

.sidebar-nav a:hover {
  text-decoration: underline;
}

.content-container {
  overflow: hidden;
}
