.page {
  display: flex;
}

.sidebar {
  width: 220px;
  padding: 20px;
  margin-right: 25px;
  border-right: 1px solid #ccc;
}

.nav {
  list-style: none;
  padding-left: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav a {
  color: #569cd6;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
}
